DatingApp.API/bin/Debug/netcoreapp3.1/appsettings.Development.json
DatingApp.API/bin/Debug/netcoreapp3.1/appsettings.json
DatingApp.API/bin/Debug/netcoreapp3.1/AutoMapper.dll
DatingApp.API/bin/Debug/netcoreapp3.1/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
DatingApp.API/bin/Debug/netcoreapp3.1/DatingApp.API.deps.json
DatingApp.API/bin/Debug/netcoreapp3.1/DatingApp.API.dll
DatingApp.API/bin/Debug/netcoreapp3.1/DatingApp.API.exe
DatingApp.API/bin/Debug/netcoreapp3.1/DatingApp.API.pdb
DatingApp.API/bin/Debug/netcoreapp3.1/DatingApp.API.runtimeconfig.dev.json
DatingApp.API/bin/Debug/netcoreapp3.1/DatingApp.API.runtimeconfig.json
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.JwtBearer.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.Data.Sqlite.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.DotNet.PlatformAbstractions.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.InMemory.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Sqlite.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyModel.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
DatingApp.API/bin/Debug/netcoreapp3.1/SQLitePCLRaw.batteries_v2.dll
DatingApp.API/bin/Debug/netcoreapp3.1/SQLitePCLRaw.core.dll
DatingApp.API/bin/Debug/netcoreapp3.1/SQLitePCLRaw.nativelibrary.dll
DatingApp.API/bin/Debug/netcoreapp3.1/SQLitePCLRaw.provider.dynamic_cdecl.dll
DatingApp.API/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
DatingApp.API/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
DatingApp.API/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
DatingApp.API/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
DatingApp.API/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
DatingApp.API/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
DatingApp.API/bin/Debug/netcoreapp3.1/System.Text.Json.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Data/UserSeedData.json
DatingApp.API/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
DatingApp.API/bin/Debug/netcoreapp3.1/runtimes/alpine-x64/native/libe_sqlite3.so
DatingApp.API/bin/Debug/netcoreapp3.1/runtimes/linux-arm/native/libe_sqlite3.so
DatingApp.API/bin/Debug/netcoreapp3.1/runtimes/linux-arm64/native/libe_sqlite3.so
DatingApp.API/bin/Debug/netcoreapp3.1/runtimes/linux-armel/native/libe_sqlite3.so
DatingApp.API/bin/Debug/netcoreapp3.1/runtimes/linux-musl-x64/native/libe_sqlite3.so
DatingApp.API/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libe_sqlite3.so
DatingApp.API/bin/Debug/netcoreapp3.1/runtimes/linux-x86/native/libe_sqlite3.so
DatingApp.API/bin/Debug/netcoreapp3.1/runtimes/osx-x64/native/libe_sqlite3.dylib
DatingApp.API/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
DatingApp.API/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
DatingApp.API/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
DatingApp.API/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
DatingApp.API/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
DatingApp.API/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/e_sqlite3.dll
DatingApp.API/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/e_sqlite3.dll
DatingApp.API/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
DatingApp.API/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/e_sqlite3.dll
DatingApp.API/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
DatingApp.API/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/e_sqlite3.dll
DatingApp.API/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
DatingApp.API/obj/DatingApp.API.csproj.EntityFrameworkCore.targets
DatingApp.API/obj/DatingApp.API.csproj.nuget.dgspec.json
DatingApp.API/obj/DatingApp.API.csproj.nuget.g.props
DatingApp.API/obj/DatingApp.API.csproj.nuget.g.targets
DatingApp.API/obj/project.assets.json
DatingApp.API/obj/project.nuget.cache
DatingApp.API/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
DatingApp.API/obj/Debug/netcoreapp3.1/DatingApp.API.AssemblyInfo.cs
DatingApp.API/obj/Debug/netcoreapp3.1/DatingApp.API.AssemblyInfoInputs.cache
DatingApp.API/obj/Debug/netcoreapp3.1/DatingApp.API.assets.cache
DatingApp.API/obj/Debug/netcoreapp3.1/DatingApp.API.csproj.CopyComplete
DatingApp.API/obj/Debug/netcoreapp3.1/DatingApp.API.csproj.CoreCompileInputs.cache
DatingApp.API/obj/Debug/netcoreapp3.1/DatingApp.API.csproj.FileListAbsolute.txt
DatingApp.API/obj/Debug/netcoreapp3.1/DatingApp.API.csprojAssemblyReference.cache
DatingApp.API/obj/Debug/netcoreapp3.1/DatingApp.API.dll
DatingApp.API/obj/Debug/netcoreapp3.1/DatingApp.API.exe
DatingApp.API/obj/Debug/netcoreapp3.1/DatingApp.API.genruntimeconfig.cache
DatingApp.API/obj/Debug/netcoreapp3.1/DatingApp.API.MvcApplicationPartsAssemblyInfo.cache
DatingApp.API/obj/Debug/netcoreapp3.1/DatingApp.API.pdb
DatingApp.API/obj/Debug/netcoreapp3.1/DatingApp.API.RazorTargetAssemblyInfo.cache
DatingApp.API/obj/Debug/netcoreapp3.1/staticwebassets/DatingApp.API.StaticWebAssets.Manifest.cache
DatingApp.API/obj/Debug/netcoreapp3.1/staticwebassets/DatingApp.API.StaticWebAssets.xml
