<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="">DatingApp</a>
    <ul class="navbar-nav mr-auto" *ngIf="authservice.loggedIn()">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/members']">Lists</a>
      </li>
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/matches']">Matches</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/messages']">Messages</a>
      </li>

    </ul>
    <div class="dropdown" *ngIf="authservice.loggedIn()" dropdown>
      <a class="dropdown-toggle text-dark" dropdownToggle>Welcome {{authservice.decodedToken?.unique_name | titlecase}}</a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" ><i class="fa fa-user"></i> Edit Profile</a>
        <a class="dropdown-item" (click)="logOut()"><i class="fa fa-sign-out"></i> Logout</a>
  </div>
</div>
</div>
</nav>
